BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://gitlab.com/rockchip_linux_sdk_6.1/rk/kernel-stable.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="release-6.1"
BR2_LINUX_KERNEL_VERSION="release-6.1"
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="rockchip_linux"
BR2_KERNEL_HEADERS_6_1=y
BR2_KERNEL_HEADERS_AS_KERNEL=y
BR2_KERNEL_MIRROR="https://mirrors.ustc.edu.cn/kernel.org"
BR2_PACKAGE_LINUX_HEADERS=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://gitlab.com/rockchip_linux_sdk_6.1/android/rk/u-boot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="linux-6.1-stan-rkr4.2"
BR2_TARGET_UBOOT_VERSION="linux-6.1-stan-rkr4.2"
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="rk3576"
